$font: "Poppins", sans-serif;

$semibold: 600;
$reguler: 400;

body {
  font-family: $font;
  background-color: $background;
  h1 {
    font-family: $font;
    font-weight: $semibold;
    font-size: 30px;
  }
  h2 {
    font-family: $font;
    font-weight: $semibold;
    font-size: 24px;
  }
  h3 {
    font-family: $font;
    font-weight: $semibold;
    font-size: 18px;
  }
  h4 {
    font-family: $font;
    font-weight: $semibold;
    font-size: 16px;
  }
  p {
    font-family: $font;
    font-size: 16px;
    font-weight: $reguler;
    color: $text;
  }
  .paragraph-2 {
    font-family: $font;
    font-size: 14px;
  }
}
